@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #161618;
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

.title-gradient-demo {
  --tw-gradient-from: #77c0f4 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(119, 192, 244, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #9772de var(--tw-gradient-to-position);
}

.title-gradient-productive {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.grad-color{
  opacity: 0.4;
  background: radial-gradient(50% 50% at 50% 50%,rgba(92,195,250,.28) 0,rgba(92,195,250,0) 100%);
  width:1200px;
  height:800px;
  top:500px;
  position: absolute;
  left:-200px
}

.grad-color-left{
  opacity: 0.4;
  background: radial-gradient(50% 50% at 50% 50%,rgba(158,110,230,.28) 0,rgba(158,110,230,0) 100%);
  width:1010px;
  height:800px;
  top:500px;
  position: absolute;
  right:10px
}

